name: Lint Project

on:
  push:
    branches:
      - main
    paths-ignore:
      - version_state/**
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  lint-project:
    name: Lint Project
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false

      - name: Setup Bun
        uses: oven-sh/setup-bun@db6bcf6eb8d88a8aa03265b887ec7bd84d64cd68 # v2

      - name: Install Dependencies
        run: bun ci

      - name: Check Formatting
        run: bun format --check

      - name: Lint & Type check
        run: bun lint --deny-warnings
