name: Lint Project

on:
  push:
    branches:
      - main
    paths-ignore:
      - version_state/**
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  lint-project:
    name: Lint Project
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup Bun
        uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2.1.2
        with:
          no-cache: true

      - name: Install Dependencies
        run: bun ci

      - name: Check Formatting
        run: bun format --check

      - name: Lint & Type check
        run: bun lint --deny-warnings
